<img src="https://docs.google.com/uc?id=14xeXxFrVRjvOoUYWn_GuyE-v84wVzrqr" class="img-fluid" alt="CLRWY" width="400" height="200">

<h1><p style="text-align: center; color:darkblue">Python In-Class, <br>24 April 2021</p><h1>

In [2]:
text = ['one','two','three','four','five']
numbers = [1, 2, 3, 4, 5]
city = ["Tokyo", "Kiev", "Mekke", "İstanbul", "Washington"]

In [3]:
print(zip(text, numbers))

<zip object at 0x000001C882098148>

In [4]:
list(zip(text, numbers))

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [5]:
print(* zip(text, numbers))

('one', 1) ('two', 2) ('three', 3) ('four', 4) ('five', 5)

In [6]:
print(* zip(text, numbers, city))

('one', 1, 'Tokyo') ('two', 2, 'Kiev') ('three', 3, 'Mekke') ('four', 4, 'İstanbul') ('five', 5, 'Washington')

In [9]:
evens = []
odd = []

for n in range(10) :
    if n%2 == 0 :
        evens.append(n)
    else :
        odd.append(n)
print(evens)
print(odd)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [10]:
boş = []

In [11]:
boş.append(1)
boş

[1]

In [12]:
boş.append(2)
boş

[1, 2]

In [13]:
boş.append(3)
boş

[1, 2, 3]

In [14]:
numbers = [11, 36, 33, 66, 89, 21, 32, 16, 10]

In [15]:
evens = 0
odds = 0

for i in numbers :
    if not i%2 :
        evens += 1
    else:
        odds += 1
print("The count of even numbers : ", evens)
print("The count of odd numbers : ", odds)

The count of even numbers :  5
The count of odd numbers :  4

In [17]:
if 1:
    print("çalışır")

çalışır

In [18]:
if 0:
    print("beni göremezsin")

In [19]:
0%2

0

In [21]:
11%2

1

In [22]:
not 1

False

In [23]:
not 0

True

In [26]:
for i in range(1,10) :
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [24]:
"2"*2

'22'

In [25]:
"1"*3

'111'

In [27]:
toplam = 0

for i in range(1, 75) :
    toplam = toplam + i
toplam

2775

In [28]:
names = ["susan", "tom", "edward"] 
mood = ["happy", "sad"]

In [30]:
for i in names :
    for ii in mood :
        print(i + " is " + ii)

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [31]:
for i in names :
    for ii in mood :
        print(i,"is", ii)

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [32]:
my_list = [1, 2, 3, 4, 5, 6]

In [33]:
new_list = []

In [34]:
for i in my_list :
    if i % 2 :
        new_list.append(i ** 2)
new_list

[1, 9, 25]

In [35]:
boş = []

In [36]:
boş.append(my_list[0] ** 2)
boş

[1]

In [37]:
boş.append(my_list[2] ** 2)
boş

[1, 9]

In [38]:
boş.append(my_list[4] ** 2)
boş

[1, 9, 25]

## list comprehension'ların temel yapısı :

```python
[expression for item in iterable]


for item in iterable :
    expression
```

In [39]:
listem = []
for i in range(5):
    listem.append(i)
listem

[0, 1, 2, 3, 4]

In [40]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [41]:
listem = []
for i in range(5):
    listem.append(i**2)
listem

[0, 1, 4, 9, 16]

In [42]:
[i**2 for i in range(5)]

[0, 1, 4, 9, 16]

In [43]:
condition = True

if condition :
    a = 1
else :
    a = 0
    
print(a)

1

In [44]:
a=1 if 2 < 4 else 0
print(a)

1

In [47]:
print(1 if False else 0)

0

## ternary `if ` condition yapısı

```python
execute-body1 if condition else execute-body2
```

In [48]:
my_list = [1, 2, 3, 4, 5, 6]

In [50]:
[i ** 2 for i in my_list if i%2]

[1, 9, 25]

In [52]:
for i in my_list :
    if i % 2 :
        new_list.append(i ** 2)
new_list

[1, 9, 25, 1, 9, 25]

In [51]:
[i ** 2 for i in my_list if not i%2]

[4, 16, 36]

In [53]:
a = [i ** 2 for i in my_list if not i%2]
a

[4, 16, 36]

In [61]:
a = (i**2 for i in my_list)

In [56]:
a

In [57]:
print(*a)

1 4 9 16 25 36

In [60]:
for i in a:
    print(i)

1
4
9
16
25
36

In [62]:
a = (i**2 for i in my_list)

print(next(a))

1

In [64]:
print(next(a))

4

In [65]:
print(next(a))

9

In [66]:
print(next(a))

16

In [67]:
print(next(a))

25

In [68]:
print(next(a))

36

In [69]:
print(next(a))

StopIteration:

In [70]:
print(*range(5))

0 1 2 3 4

In [ ]:
benim()